.card {
  background: #ccc;

  &.black, &.red, &.green, &.blue {
    color: #fff;

    a {
      color: #ccf;
    }
  }
  &.black {
    background: #000;
    border-bottom-color: lighten(#000, 20%);
  }
  &.red {
    background: #c33;
    border-bottom-color: lighten(#c33, 15%);
  }
  &.green {
    background: #383;
    border-bottom-color: lighten(#383, 15%);
  }
  &.blue {
    background: #33c;
    border-bottom-color: lighten(#33c, 15%);
  }
  &.white {
    background: #fff;
    border-bottom-color: darken(#fff, 15%);
  }
  &.gold {
    background: #f0f000;
    border-bottom-color: darken(#f0f000, 10%);
  }

  .rarity, .power, .toughness {
    text-align: center;
  }
  .mana_cost {
    text-align: right;
  }
  .mtg_set {
    white-space: nowrap;
  }
  .rules_text {
    div {
      //height: 1.5em;
      //overflow: hidden;
    }
  }
}

tbody {
  tr.card {
    border-bottom: 1px solid lighten(#ccc, 20%);
  }
}

form.card {
  background: #eee;
}



table#cards {
  border: none;

  thead {
    tr {
      border-bottom: 1px solid #ddd;
      color: #999;
      text-transform: uppercase;
    }
  }
}