.card {
  .rarity, .power, .toughness {
    text-align: center;
  }
  .mana_cost {
    text-align: right;
  }
  .mtg_set {
    white-space: nowrap;
  }
}

form.card {
  background: #eee;
}



table#cards {
  border: none;

  thead {
    tr {
      border-bottom: 1px solid #ddd;
      color: #999;
      text-transform: uppercase;
    }
  }
}