.card {
  .rarity {
    text-align: center;
  }
  .mana_cost, .conv_mana_cost, .power, .toughness {
    text-align: right;
  }
  .mtg_set {
    white-space: nowrap;
  }
}

form.card {
  background: #eee;
}

table#cards {
  form {
    background: none;
    padding: 0;
    white-space: nowrap;
  }
}

.deck_card {
  .number {
    text-align: right;
  }
}