body {
  border-top: 10px solid #933;
  font-color: $font_color;
  font-family: "Droid Serif", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 20px 30px;
}

a {
  color: $link_color;
}