#header {
  h1 {
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: $link_color;
      }
    }
  }
}

#menu {
  background: #eee;
  margin: 0 0 20px 0;
  padding: 10px 20px;

  p {
    margin: 0;
  }
}

.pagination {
  background: #eee;
  font-size: 1.5em;
  margin: 20px 0 0 0;
  padding: 5px 10px;
}

img.inline {
  vertical-align: middle;
}