%h2 Add Card

- sets = MtgSet.all

- unless sets.empty?
  = render 'form', :sets => sets
- else
  %h3 There are no sets!
  %p
    Cards belong to sets and none have been added yet.
    = link_to 'Add a set', new_mtg_set_path